<div class="threeColumn floatLeft">
		<div class="smallHeaders">Last Month</div>
		<div class="nameArea greyBackground clear">
			<div class="floatLeft twoColumn mediumSmallText lightGreen">Referrals</div>	
			<div class="floatLeft twoColumn mediumSmallText lightBlue textRight" id="hotKeysLastMonth">#</div>		
		</div>
		<div class="nameArea greyBackground clear">
			<div class="floatLeft twoColumn mediumSmallText lightGreen">Pack Out</div>	
			<div class="floatLeft twoColumn mediumSmallText lightBlue textRight" id="packOutLastMonth">#</div>		
		</div>
		<div class="nameArea greyBackground clear">
			<div class="floatLeft twoColumn mediumSmallText lightGreen">P/O Ratio</div>	
			<div class="floatLeft twoColumn mediumSmallText lightBlue textRight"><span id="packOutRatioLastMonth">#</span>%</div>
		</div>
		<div class="nameArea greyBackground clear">
			<div class="floatLeft twoColumn mediumSmallText lightGreen">Total P/O</div>	
			<div class="floatLeft twoColumn mediumSmallText lightBlue textRight">£<span id="totalPackOutLastMonth">#</span></div>		
		</div>

</div>

<div class="threeColumnMiddle floatLeft">
	<div class="lineBoth">
		<div class="smallHeaders">Current Month</div>
		<div class="nameArea greyBackground clear">
			<div class="floatLeft twoColumn mediumSmallText lightGreen">Referrals</div>	
			<div class="floatLeft twoColumn mediumSmallText lightBlue textRight" id="hotKeysThisMonth">#</div>		
		</div>
		<div class="nameArea greyBackground clear">
			<div class="floatLeft twoColumn mediumSmallText lightGreen">Pack Out</div>	
			<div class="floatLeft twoColumn mediumSmallText lightBlue textRight" id="packOutThisMonth">#</div>		
		</div>
		<div class="nameArea greyBackground clear">
			<div class="floatLeft twoColumn mediumSmallText lightGreen">P/O Ratio</div>	
			<div class="floatLeft twoColumn mediumSmallText lightBlue textRight"><span id="packOutRatioThisMonth">#</span>%</div>
		</div>
		<div class="nameArea greyBackground clear">
			<div class="floatLeft twoColumn mediumSmallText lightGreen">Total P/O</div>	
			<div class="floatLeft twoColumn mediumSmallText lightBlue textRight">£<span id="totalPackOutThisMonth">#</span></div>		
		</div>
	</div>
</div>

<div class="threeColumn floatLeft">

		<div class="smallHeaders">Current Week</div>
		<div class="nameArea greyBackground clear">
			<div class="floatLeft twoColumn mediumSmallText lightGreen">Referrals</div>	
			<div class="floatLeft twoColumn mediumSmallText lightBlue textRight" id="hotKeysThisWeek">#</div>		
		</div>
		<div class="nameArea greyBackground clear">
			<div class="floatLeft twoColumn mediumSmallText lightGreen">Pack Out</div>	
			<div class="floatLeft twoColumn mediumSmallText lightBlue textRight" id="packOutThisWeek">#</div>		
		</div>
		<div class="nameArea greyBackground clear">
			<div class="floatLeft twoColumn mediumSmallText lightGreen">P/O Ratio</div>	
			<div class="floatLeft twoColumn mediumSmallText lightBlue textRight"><span id="packOutRatioThisWeek">#</span>%</div>
		</div>
		<div class="nameArea greyBackground clear">
			<div class="floatLeft twoColumn mediumSmallText lightGreen">Total P/O</div>	
			<div class="floatLeft twoColumn mediumSmallText lightBlue textRight">£<span id="totalPackOutThisWeek">#</span></div>		
		</div>

</div>
