<!-- Dialler Server -->

<div class="threeColumnDouble floatLeft">
	<div class="smallHeaders">Top Referrers</div>
	<div class="nameArea greenBackground clear">
		<div id="referrer1Name" class="mediumText lightGreen floatLeft twoColumn">Your Name Here!</div>
		<div id="referrer1Count" class="mediumText lightGreen floatLeft twoColumn textRight">0</div>
	</div>
	
	<div class="nameArea orangeBackground clear">
		<div id="referrer2Name" class="mediumSmallText lightGreen floatLeft twoColumn">Your Name Here!</div>
		<div id="referrer2Count" class="mediumSmallText lightGreen floatLeft twoColumn textRight">0</div>
	</div>
	
	<div class="nameArea redBackground clear">
		<div id="referrer3Name" class="smallText lightGreen floatLeft twoColumn">Your Name Here!</div>
		<div id="referrer3Count" class="smallText lightGreen floatLeft twoColumn textRight">0</div>
	</div>
	
	<div class="nameArea redBackground clear">
		<div id="referrer4Name" class="smallText lightGreen floatLeft twoColumn">Your Name Here!</div>
		<div id="referrer4Count" class="smallText lightGreen floatLeft twoColumn textRight">0</div>
	</div>
	
	<div class="nameArea redBackground clear">
		<div id="referrer5Name" class="smallText lightGreen floatLeft twoColumn">Your Name Here!</div>
		<div id="referrer5Count" class="smallText lightGreen floatLeft twoColumn textRight">0</div>
	</div>
	
</div>

<div class="threeColumn floatLeft">
	<div class="lineLeft">
		<div class="smallHeaders">Referrals Today</div>
		<div>
			<span id="salesToday" class="largeText lightBlue">#</span><span id="salesPerHour" class="largeTextUndersetMin lightBlue">#</span>
		</div>
	</div>
</div>
