<!-- Dialler Server -->

<div class="fourColumn floatLeft">
		<div class="smallHeaders">Referrals Today</div>
		<div>
			<span id="_hotKeys" class="largeText lightRed">#</span>
		</div>
</div>

<div class="fourColumn floatLeft">
	<div class="lineLeft">
		<div class="smallHeaders">Pack Out Today</div>
		
		<span id="_packOutToday" class="largeText lightBlue">#</span> <span class="largeTextUndersetMin lightBlue">(<span id="_packOutPercent">#%</span>)</span>
	</div>
</div>


<div class="fourColumn floatLeft">
	<div class="lineLeft">
			<div class="smallHeaders">Current Value</div>
			<div class="mediumSmallText lightBlue" id="_currentValue">£#</div>
			<div class="smallHeaders">Average DI Value</div>
			<div class="mediumSmallText lightBlue" id="_currentDIAverage">#</div>
			
	</div>
</div>



<div class="fourColumn floatLeft">
	<div class="lineLeft">
		<div class="smallHeaders">SENIORS FREE</div>
		<div>
			<span id="_seniorsFree" class="largeText lightBlue">#</span> <span class="largeTextUndersetMin lightBlue">(<span id="_seniorsQueue">#</span> queued)</span>
		</div>
	</div>
</div>
