<div class="padRight lineBottom clear"><div class="padRight">
<div class="oneColumn textCenter nameArea greenBackground padRight mediumText lightGreen">

Highest referrer with most packs out today<br /><span class="lightBlue"><blink>£30 cash!</blink></span>

</div>
</div></div><br />

<div class="padRight"><div class="padRight">
<div class="oneColumn textCenter nameArea greenBackground padRight mediumText lightGreen">

First senior to get a full payment for a pack out today <br /><span class="lightBlue"><blink>£30 cash!</blink></span>

</div>
</div></div>