<div class="threeColumn floatLeft">
	<div class="lineRight">
		<div class="smallHeaders">Open Tickets</div>
		<div>
			<span id="openTickets" class="largeText lightBlue">#</span></span>
		</div>
	</div>
</div>

<div class="threeColumnMiddle floatLeft">
	<div class="smallHeaders">Unanswered Tickets</div>
	<div>
		<span id="unansweredTickets" class="largeText orange">101</span></span>
	</div>
</div>

<div class="threeColumn floatLeft">
	<div class="lineLeft">
		<div class="smallHeaders">Overdue Tickets</div>
		<div>
			<span id="overdueTickets" class="largeText lightRed">101</span></span>
		</div>
	</div>
</div>