<!-- Dialler Server -->

<div class="clear lineBelow">
	<div class="threeColumn floatLeft">
			<div class="smallHeaders">Dropped Calls</div>
			<div>
				<span id="droppedCalls" class="largeText lightBlue">#</span> <span class="largeTextUndersetMin lightBlue">(<span id="droppedCallPercentage">#</span>%)</span>
			</div>
	</div>
	
	<div class="threeColumnMiddle floatLeft">
		<div class="lineBoth">
			<div class="smallHeaders">Dial Level</div>
			<div>
				<span id="dialLevel" class="largeText lightBlue">#</span> <span class="largeTextUndersetMin lightBlue">(<span id="callsMade">#</span> calls today)</span>
			</div>
		</div>
	</div>
	
	<div class="threeColumn floatLeft">
			<div class="smallHeaders">Calls In Progress</div>
			<div>
				<span id="callsInProgress" class="largeText lightBlue">#</span> <span class="largeTextUndersetMin lightBlue">(<span id="callsRinging">#</span> ringing)</span>
			</div>
			
	</div>
</div>


<div class="clear">
	<div class="threeColumn floatLeft">
			<div class="smallHeaders">Agents In Calls</div>
			<div>
				<span id="agentsInCalls" class="largeText lightBlue">#</span> <span class="largeTextUndersetMin lightBlue">(<span id="callsPerPerson">#</span>/person)</span>
			</div>
			
	</div>
	
	<div class="threeColumnMiddle floatLeft">
		<div class="lineBoth">
			<div class="smallHeaders">Agents Waiting</div>
			<div>
				<span id="agentsWaiting" class="largeText lightBlue">#</span> <span class="largeTextUndersetMin lightBlue">(<span id="waitTime">#</span>s average wait)</span>
			</div>
		</div>
	</div>
	
	<div class="threeColumn floatLeft">
			<div class="smallHeaders">Agents in Disposition</div>
			<div>
				<span id="agentsInDisposition" class="largeText lightBlue">#</span> <span class="largeTextUndersetMin lightBlue"><span id="dispositionAverage"></span></span>
			</div>
			
	</div>
</div>


