<div class="threeColumn floatLeft">
	<div class="padRight">
		<div class="smallHeaders">BURTON</div>
		<div>
			<span id="_RESOLVEReferral" class="largeText orange">#</span> <span class="largeTextUndersetMin orange">(<span id="_RESOLVEPackOuts">#</span> Packs Out)</span>
		</div>
		<div class="mediumText orange lineBelow">
			&pound;<span id="_RESOLVETotalValue"></span>
		</div>
		<div class="smallText" style="color: #ffffff">
			&pound;<span id="_RESOLVEAverageDI"></span> AVERAGE DI
		</div>
	</div>
</div>

<div class="threeColumn floatLeft">
	<div class="lineBoth padRight">
		<div class="smallHeaders">BOLTON</div>
		<div>
			<span id="_HQReferral" class="largeText lightBlue">#</span> <span class="largeTextUndersetMin lightBlue">(<span id="_HQPackOuts">#</span> Packs Out)</span>
		</div>
		<div class="mediumText lightBlue lineBelow">
			&pound;<span id="_HQTotalValue"></span>
		</div>
		<div class="smallText" style="color: #ffffff">
			&pound;<span id="_HQAverageDI"></span> AVERAGE DI
		</div>
	</div>
</div>

<div class="threeColumnMiddle floatLeft">

		<div class="smallHeaders">DIGOS</div>
		<div>
			<span id="_GBSReferral" class="largeText lightGreenish">#</span> <span class="largeTextUndersetMin lightGreenish">(<span id="_GBSPackOuts">#</span> Packs Out)</span>
		</div>
		<div class="mediumText lightGreenish lineBelow">
			&pound;<span id="_GBSTotalValue"></span>
		</div>
		<div class="smallText" style="color: #ffffff">
			&pound;<span id="_GBSAverageDI"></span> AVERAGE DI
		</div>

</div>