<div class="threeColumn floatLeft">
		<div class="smallHeaders">Top Dog of the Day</div>
		<div style="background: URL(http://dk101.net/dels.jpg)" class="pictureBackground">
			<div class="clear textCenter oneColumn">
				<span class="mediumSmallText lightGreen" id="dayStarName">Your Name Here!</span>
			</div>
			<div class="nameArea greyBackground clear">
				<div class="floatLeft twoColumn mediumSmallText lightGreen">Referrals</div>	
				<div class="floatLeft twoColumn mediumSmallText lightBlue textRight" id="dayStarHotkeys">0</div>		
			</div>
			<div class="nameArea greyBackground clear">
				<div class="floatLeft twoColumn mediumSmallText lightGreen">Pack Out</div>	
				<div class="floatLeft twoColumn mediumSmallText lightBlue textRight" id="dayStarPackouts">0</div>		
			</div>
			<div class="nameArea greyBackground clear">
				<div class="floatLeft twoColumn mediumSmallText lightGreen">P/O Ratio</div>	
				<div class="floatLeft twoColumn mediumSmallText lightBlue textRight"><span id="dayStarPORatio">0</span>%</div>
			</div>
			<div class="nameArea greyBackground clear">
				<div class="floatLeft twoColumn mediumSmallText lightGreen">Points</div>	
				<div class="floatLeft twoColumn mediumSmallText lightBlue textRight"><span id="dayStarTotals">0</span></div>		
			</div>
		</div>

</div>

<div class="threeColumnMiddle floatLeft">
	<div class="lineBoth">
		<div class="smallHeaders">Top Dog of the Month</div>
		<div style="background: URL(http://dk101.net/bootcols.png)" class="pictureBackground">
			<div class="clear textCenter oneColumn">
				<span class="mediumSmallText lightGreen" id="monthStarName">Your Name Here!</span>
			</div>
			<div class="nameArea greyBackground clear">
				<div class="floatLeft twoColumn mediumSmallText lightGreen">Referrals</div>	
				<div class="floatLeft twoColumn mediumSmallText lightBlue textRight" id="monthStarHotkeys">0</div>		
			</div>
			<div class="nameArea greyBackground clear">
				<div class="floatLeft twoColumn mediumSmallText lightGreen">Pack Out</div>	
				<div class="floatLeft twoColumn mediumSmallText lightBlue textRight" id="monthStarPackouts">0</div>		
			</div>
			<div class="nameArea greyBackground clear">
				<div class="floatLeft twoColumn mediumSmallText lightGreen">P/O Ratio</div>	
				<div class="floatLeft twoColumn mediumSmallText lightBlue textRight"><span id="monthStarPORatio">0</span>%</div>
			</div>
			<div class="nameArea greyBackground clear">
				<div class="floatLeft twoColumn mediumSmallText lightGreen">Points</div>	
				<div class="floatLeft twoColumn mediumSmallText lightBlue textRight"><span id="monthStarTotals">0</span></div>		
			</div>
		</div>
	</div>
</div>

<div class="threeColumn floatLeft">
		<div class="smallHeaders">TOP DOGS!</div>
		<div class="nameArea greenBackground clear">
			<div class="floatLeft twoColumnLarge mediumSmallText lightGreen" id="topStar1Name">Your Name Here!</div>	
			<div class="floatLeft twoColumnSmall textRight"><span id="topStar1TotalHtk" class="mediumSmallText lightBlue">0</span></div>		
		</div>
		<div class="nameArea orangeBackground clear">
			<div class="floatLeft twoColumnLarge mediumSmallText lightGreen" id="topStar2Name">Your Name Here!</div>	
			<div class="floatLeft twoColumnSmall textRight"><span id="topStar2TotalHtk" class="mediumSmallText lightBlue">0</span></div>			
		</div>
		<div class="nameArea redBackground clear">
			<div class="floatLeft twoColumnLarge mediumSmallText lightGreen" id="topStar3Name">Your Name Here!</div>	
			<div class="floatLeft twoColumnSmall textRight"><span id="topStar3TotalHtk" class="mediumSmallText lightBlue">0</span></div>		
		</div>
		<div class="nameArea greyBackground clear">
			<div class="floatLeft twoColumnLarge mediumSmallText lightGreen" id="topStar4Name">Your Name Here!</div>	
			<div class="floatLeft twoColumnSmall textRight"><span id="topStar4TotalHtk" class="mediumSmallText lightBlue">0</span></div>			
		</div>
		<div class="nameArea greyBackground clear">
			<div class="floatLeft twoColumnLarge mediumSmallText lightGreen" id="topStar5Name">Your Name Here!</div>	
			<div class="floatLeft twoColumnSmall textRight"><span id="topStar5TotalHtk" class="mediumSmallText lightBlue">0</span></div>			
		</div>

</div>
