
/* Wallboard General Style Sheet */


/* Color Scheme

Light Green : #e4edb2
Light Blue : #92c7ef
Light Red : #ff6969
White : #ffffff

Background Grey : #222222
Line Grey : #494949

*/

@font-face {
    font-family: "League Gothic";
    src: url(League_Gothic.otf);
}



/* General styles
----------------- */
body {
	background-color: #222222;
	margin: 20px;
	padding: 0px;
	overflow: hidden;
	
	text-shadow: 2px 2px 1px #000000;
	filter: dropshadow(color=#000000, offx=2, offy=2);
}


/* Font descriptions
-------------------- */

.smallHeaders {
	text-transform: uppercase;
	
	color: #ffffff;
	font-family: helvetica;
	font-size: 170%;
	font-weight: bold;
	line-height: 40pt;
}

.largeText {
	font-size: 1000%;
	font-family: "League Gothic";
	font-weight: bold;
	line-height: 140pt;
}

.largeTextUnderset {
	font-size: 500%;
	font-family: "League Gothic";
	font-weight: normal;
}

.largeTextUndersetMin {
	font-size: 300%;
	font-family: "League Gothic";
	font-weight: normal;
}

.timeDateHeading {
	color: #e4edb2;
	font-family: "League Gothic";
	font-size: 700%;
}

.blink {
    text-shadow: 2px 2px 1px #222222;
	filter: dropshadow(color=#222222, offx=2, offy=2);
}



/* Font colours
--------------- */
.lightGreen { color: #e4edb2; }
.lightBlue { color: #92c7ef; }
.lightRed { color: #ff6969; }
.orange { color: #f39a1c; }


/* Column Widths
---------------- */
.oneColumn { width: 100%; }
.twoColumn { width: 50%; }
.threeColumn { width: 35%; }
.threeColumnDouble { width: 65%; }
.threeColumnMiddle { width: 30%; }
.fourColumn { width: 25%; }


/* Text Alignments
------------------ */
.textRight { text-align: right; }
.textCenter { text-align: center; }
.textLeft { text-align: left; }

/* Extra Padding
---------------- */
.padBelow {
	margin-bottom: 15px;
}

/* Line Classes
--------------- */
.lineBelow {
	border-bottom: #494949 1px solid;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.lineRight {
	border-right: #494949 1px solid;
	margin-right: 20px;
}

.lineLeft {
	border-left: #494949 1px solid;
	padding-left: 20px;
}



/* Floats and Clears
-------------------- */
.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

* html .clear{
  height: 1%;
  overflow: visible;
}

*+html .clear{
  min-height: 1%;
}

.clear:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}